# Copiá este archivo a ".env" y completá con los datos de tu proyecto Appwrite.

VITE_APPWRITE_ENDPOINT=https://cloud.appwrite.io/v1
VITE_APPWRITE_PROJECT_ID=tu_project_id

# Estos coinciden con los IDs que crea el script bootstrap (podés dejarlos así)
VITE_APPWRITE_DATABASE_ID=trivias
VITE_APPWRITE_BUCKET_COVERS=covers
VITE_APPWRITE_COL_EVENTS=events
VITE_APPWRITE_COL_TRIVIAS=trivias
VITE_APPWRITE_COL_OPTIONS=options
VITE_APPWRITE_COL_VOTES=votes
